.background {
  background: rgb(251,237,255);
  background: radial-gradient(circle, rgba(251,237,255,1) 0%, rgba(255,255,255,1) 36%);
}

.tasklist-title {
  background-image: linear-gradient(45deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  color: transparent;
}

.tasklist-slogan {
  color: #333333;
}